<a href="https://colab.research.google.com/github/bhumong/ai-bootcamp/blob/main/pre-session-python/004_advanced_data_structure/008_dataception.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with data

After learning variables, function, conditional, list, iteration, and dictionary, after this what we'll learn is mostly when everything is combined together.

# A list of dictionary?! A key in dictionary that has a list of dictionary as value?!

Nested data (a data structure within a data structure) is a common occurrence and can be challenging to understand. Let's start with a simple example:

In [ ]:
student = {
    "name": "Mark",
    "student_id": 15163,
    "lectures": [
        "Data Science",
        "Programming",
        "Linear Algebra"
    ]
}

As you can see, above dictionary has a list of lectures as a value for the key "lectures". Let's see how we can access the list of lectures:

In [ ]:
print(student["lectures"])
print(student["lectures"][0])

['Data Science', 'Programming', 'Linear Algebra']
Data Science

# List of dictionaries

If on above learning we learned that a list can be a value of a key in a dictionary, then a dictionary can also be a value in a list. Let's see how we can access the dictionary in a list:

In [ ]:
# If on above learning we learned that a list can be a value of a key in a dictionary, then a dictionary can also be a value in a list. Let's see how we can access the dictionary in a list:

students = [
    {
        "name": "Mark",
        "student_id": 15163,
        "lectures": [
            "Data Science",
            "Programming",
            "Linear Algebra"
        ]
    },
    {
        "name": "Jessica",
        "student_id": 15164,
        "lectures": [
            "Data Science",
            "Programming",
            "Linear Algebra"
        ]
    },
    {
        "name": "Pablo",
        "student_id": 15165,
        "lectures": [
            "Data Science",
            "Programming",
            "Linear Algebra"
        ]
    }
]

print("All students:")
print(students)

print("\nSecond student info: ")
print(students[1])

print("\nSecond student name:")
print(students[1]["name"])

print("\nSecond student second lecture:")
print(students[1]["lectures"][1])

All students:
[{'name': 'Mark', 'student_id': 15163, 'lectures': ['Data Science', 'Programming', 'Linear Algebra']}, {'name': 'Jessica', 'student_id': 15164, 'lectures': ['Data Science', 'Programming', 'Linear Algebra']}, {'name': 'Pablo', 'student_id': 15165, 'lectures': ['Data Science', 'Programming', 'Linear Algebra']}]

Second student info:
{'name': 'Jessica', 'student_id': 15164, 'lectures': ['Data Science', 'Programming', 'Linear Algebra']}

Second student name:
Jessica

Second student second lecture:
Programming

Take your time understanding how to access nested data on above example. It's might look intimidating at first, but once you get the hang of it, it's actually pretty simple.

> Note: `\n` is a special character that means "new line", it's used to add a new line in a string (similar to pressing enter on a keyboard).

# Challenge!

Read and run below code

In [ ]:
airports = [
    {
        "name": "Soekarno-Hatta International Airport",
        "airport_code": "CGK",
        "country": "Indonesia",
        "airlines": [
            "Garuda Indonesia",
            "Lion Air",
            "AirAsia"
        ],
        "terminals": [
            {
                "terminal_id": 1,
                "gates": ["1A", "1B", "1C"],
                "restaurants": ["Garuda Restaurant", "Kopi Luwak"],
                "flights": ["GA200", "LW500"]
            },
            {
                "terminal_id": 2,
                "gates": ["2A", "2B"],
                "restaurants": ["Sate Padang", "Nasi Goreng Wagon"],
                "flights": ["AA100", "AR150"]
            }
        ]
    },
    {
        "name": "Ngurah Rai International Airport",
        "airport_code": "DPS",
        "country": "Indonesia",
        "airlines": [
            "Garuda Indonesia",
            "Lion Air",
            "AirAsia"
        ],
        "terminals": [
            {
                "terminal_id": 1,
                "gates": ["1A", "1B"],
                "restaurants": ["Java Coffee House", "Bali Buana"],
                "flights": ["GA350", "AA250"]
            },
            {
                "terminal_id": 2,
                "gates": ["2A", "2B", "2C"],
                "restaurants": ["Seafood Island", "Bali Spice"],
                "flights": ["LW900", "A3500"]
            }
        ]
    }
]

- Example: Retrieve Soekarno-Hatta International Airport's airport code

In [ ]:
print(airports[0]["airport_code"])

CGK

- What airlines is available in the Ngurah Rai Airport?

In [ ]:
print(airports) # Change it to fulfill above task, the answer should be `["Garuda Indonesia", "Lion Air", "AirAsia"]`

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [ ]:
!pip install rggrader

from rggrader import submit

# @title #### Student Identity
student_id = "your student id" # @param {type:"string"}
name = "your name" # @param {type:"string"}

# Submit Method
assignment_id = "010_dataception"
question_id = "04_dictionary_airport_1"

result = "my_result"

submit(student_id, name, assignment_id, result, question_id)

## Challenge 2

Print the list of all restaurants available at the Ngurah Rai Airport on terminal with terminal ID = 2

In [ ]:
print(airports) # Change it to fulfill above task, the answer should be `["Garuda Indonesia", "Lion Air", "AirAsia"]`

When you are done with the above challenge, then:

1. Change the text "my result" below with the text "done"
2. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "010_dataception"
question_id = "05_dictionary_airport_2"

result = "my_result"

submit(student_id, name, assignment_id, result, question_id)

# Mutating data inside data

Mutating data inside a data, for example mutating a value inside a dictionary that is inside a list, is pretty much straightforward. You just access the data and assign a new value to it. Let's see how we can do it:

In [ ]:
employee = [
    {
        "name": "Mark",
        "age": 25,
        "salary": 4000,
    },
    {
        "name": "Jessica",
        "age": 23,
        "salary": 3000,
    },
    {
        "name": "Pablo",
        "age": 30,
        "salary": 5000,
    }
]

print(employee)

employee[1]["salary"] = 5000

print(employee)

[{'name': 'Mark', 'age': 25, 'salary': 4000}, {'name': 'Jessica', 'age': 23, 'salary': 3000}, {'name': 'Pablo', 'age': 30, 'salary': 5000}]
[{'name': 'Mark', 'age': 25, 'salary': 4000}, {'name': 'Jessica', 'age': 23, 'salary': 5000}, {'name': 'Pablo', 'age': 30, 'salary': 5000}]

# Challenge

## Challenge 1

Change the Alicia's grade to 90

In [ ]:
students = [
    {
        "name": "Alicia",
        "age": 20,
        "grade": 85,
    },
    {
        "name": "Ben",
        "age": 22,
        "grade": 90,
    },
    {
        "name": "Charlie",
        "age": 21,
        "grade": 72,
    },
    {
        "name": "Daisy",
        "age": 23,
        "grade": 88,
    },
    {
        "name": "Ethan",
        "age": 20,
        "grade": 92,
    }
]

# Write your code here
students = students

print(students)

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "010_dataception"
question_id = "01_data_update"

submit(student_id, name, assignment_id, str(students[0]["grade"]), question_id)

## Challenge 2

We have a list of new grades that you should assign each students to their new grade. The order of the list is the same as the order of the students in the `students` list.

In [ ]:
new_grades = [98, 76, 60, 99, 40]

# Write your code here
# Hint: Use for loop

print(students)
# Expected output:
# [
#     {
#         "name": "Alicia",
#         "age": 20,
#         "grade": 98,
#     },
#     {
#         "name": "Ben",
#         "age": 22,
#         "grade": 76,
#     },
#     {
#         "name": "Charlie",
#         "age": 21,
#         "grade": 60,
#     },
#     {
#         "name": "Daisy",
#         "age": 23,
#         "grade": 99,
#     },
#     {
#         "name": "Ethan",
#         "age": 20,
#         "grade": 40,
#     }
# ]

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "010_dataception"
question_id = "02_data_update_batch"

submit(student_id, name, assignment_id, str(students[4]["grade"]), question_id)

## Challenge 3

You are given a list of dictionaries where each dictionary represents weather data for a particular day. Each dictionary contains the date, the average temperature, and whether it was raining or not.

In [ ]:
weather_data = [
    {"date": "2022-01-01", "temperature": 22, "rain": False},
    {"date": "2022-01-02", "temperature": 25, "rain": True},
    {"date": "2022-01-03", "temperature": 20, "rain": False},
    {"date": "2022-01-04", "temperature": 30, "rain": True},
    {"date": "2022-01-05", "temperature": 28, "rain": False},
]

Your task is to write a Python function `analyze_weather(data)` that takes this list as input and returns a dictionary with the following information:

- `hottest_day`: The date of the hottest day.
- `average_temperature`: The average temperature over all the days.
- `rainy_days`: The number of rainy days.

In [ ]:
def analyze_weather(data):
    # Initialize variables
    hottest_day = None
    total_temperature = 0
    rainy_days = 0
    current_hottest_temperature = 0 # Hint: Use this variable to store the current hottest temperature

    # Iterate over the data
    for day in data:
        print(day)
        # Update hottest_day if necessary
        # Hint: Use current_hottest_temperature variable to check if the current day is more hotter than
        # current_hottest_temperature. If it is, then update current_hottest_temperature and hottest_day
        # TODO: Fill in this part

        # Add to total_temperature
        # TODO: Fill in this part

        # Increment rainy_days if necessary
        # TODO: Fill in this part

    # Calculate average_temperature
    average_temperature = total_temperature / len(data)

    # Return the result
    return {
        "hottest_day": hottest_day,
        "average_temperature": average_temperature,
        "rainy_days": rainy_days
    }
# {
#     "hottest_day": "2022-01-04",
#     "average_temperature": 25,
#     "rainy_days": 2
# }

When you are done with the above challenge, then:

1. Run the code block by pressing the play button.

In [ ]:
# Submit Method
assignment_id = "010_dataception"
question_id = "03_data_add_batch"

weather_2023 = [
    {"date": "2023-12-01", "temperature": 25, "rain": True},
    {"date": "2023-12-02", "temperature": 20, "rain": True},
    {"date": "2023-12-03", "temperature": 28, "rain": False},
    {"date": "2023-12-04", "temperature": 20, "rain": False},
    {"date": "2023-12-05", "temperature": 30, "rain": True},
]

submit(student_id, name, assignment_id, str(analyze_weather(weather_2023)), question_id)